.header {
	display: flex;
	width: 100vw;
	background-image: linear-gradient(rgb(70, 70, 214), rgb(96, 123, 190));
	flex-direction: row;
	height: 85px;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid white 1px;
	border-top: solid white 1px;
	margin-bottom: 40px;
}

.navigation {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
	outline: none;
	margin-right: 70px;
}

li a button {
	color: black;
	font-weight: bold;
	border-radius: 100px;
	background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg); 
	background-position-y: -150px;
	background-position-x: 250px;
	cursor: pointer;
	height: 45px;
	width: 115px;
	margin: 10px;
	text-align: center;
	outline: none;
	font-size: 13px;
	text-transform: uppercase;
}

li a button:hover {
	color: rgb(15, 6, 139);
	animation: changePosition 2s ease-out alternate;
	filter: brightness(110%);
}

@keyframes changePosition {
	0% {
		background-position-x: 125px;
	}
	50% {
		background-position-x: 200px;
	}
	100% {
		background-position-x: 250px;
	}
}

.title {
	background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
	background-position-y: -150px;
	background-position-x: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 15%;
	border-left: solid rgb(226, 190, 190) 1px;
	border-right: solid rgb(226, 190, 190) 1px;
	margin-left: 30px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: -6px 1px 45px 10px rgba(255, 94, 1, 1);
}

#name {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Yellowtail', cursive;
}

#position {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: bold;
}

.title-names {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.animate {
	transform: rotateZ(180deg);
}

.fade-in {
	opacity: 0;
	animation: fadein 5s ease-in-out;
	animation-iteration-count: 1;
}

.fade-out {
	opacity: 1;
	animation: fadeout 5s ease-in-out;
	animation-iteration-count: 1;
}

@keyframes fadein {
	0%{opacity: 0}
	50%{opacity: 0.5}
	100%{opacity: 1}
}

@keyframes fadeout {
	0%{opacity: 1}
	50%{opacity: 0.5}
	100%{opacity: 0}
}

.new-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	align-items: center;
	margin-bottom: 80px;
}

.skill-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: rgb(241, 225, 225, 0.5);
	width: 60%;
	height: 350px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 7px 10px rgba(255, 94, 1, 1);
	-moz-box-shadow: 1px 1px 7px 10px rgba(255, 94, 1, 1);
	box-shadow: 1px 1px 7px 10px rgba(255, 94, 1, 1), 1px 1px 14px 20px rgb(255, 251, 0);
}

body {
	background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
	background-position: center center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
	height: 100%;
}

.outer-ring {
	border: solid 1px rgb(90, 90, 253);
	border-radius: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
	height: 580px;
	background: rgb(241, 225, 225, 0.4);
	box-shadow: 16px 2px 10px 16px rgb(104, 104, 253);
}

.bio {
	width: 75%;
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-left: 10px;
	border-radius: 100px;
	text-align: center;
}

#paragraph {
	line-height: 20px;
	font-size: 16px;
}

.about-me {
	border-bottom: double 2px black;
	margin-bottom: 30px;
	font-family: 'Yellowtail', cursive;
}

.main-content {
	display: flex;
	background: rgb(241, 225, 225, 0.4);
	width: 570px;
	height: 550px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: solid 1px rgba(255, 94, 1, 1);
	border-radius: 500px;
	box-shadow: 15px 2px 20px 15px rgba(255, 94, 1, 1);
	text-align: center;
}

.active-class {
	filter: brightness(110%);
	color: blue;
}

.outer-eclipse {
	height: 640px;
	width: 660px;
	border-radius: 500px;
	border: rgba(255, 94, 1, 1) solid 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 2px 2px 29px 15px rgba(255, 94, 1, 1);
}

.eclipse {
	height: 610px;
	width: 630px;
	border:  rgb(255, 208, 0) solid 1px;
	border-radius: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 17px 2px 22px 22px rgb(255, 251, 0);
	animation: fadein 2s 1 ease-in;
	animation-delay: 4s;
}

.img-container {
	width: 200px;
	height: 150px;
	border-radius: 400px;
	-webkit-box-shadow: 10px 17px 30px 3px rgb(116, 116, 250);
	-moz-box-shadow: 10px 17px 30px 3px rgb(116, 116, 250);
	box-shadow: 10px 17px 30px 3px rgb(116, 116, 250);
	margin-top: 20px;
}

.skills {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
}

.skills li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	align-items: center;
	margin: 20px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text !important;
	background-position: 600px 540px;
	background-clip: text;
	background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
}

img {
	width: 100%;
	height: 100%;
	border-radius: 400px;
}

.skill-title {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text !important;
	background-clip: text;
	background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
	border-bottom: solid black 2px;
	/* 40px */
	background-position: 520px 38px; 
	height: 20%;
	margin-bottom: 5px;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: bold;
	margin-right: 30px;
	background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
	background-position-y: -150px;
	background-position-x: 250px;
	border-right: solid white 1px;
	border-left: solid white 1px;
	height: 100%;
	width: 15%;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 6px 1px 45px 10px rgba(255, 94, 1, 1);
}

.image-div a {
	
}

#sites {
	border-bottom: rgb(96, 123, 190) 1px solid;
	margin: 0;
	padding: 0;
	font-family: 'Yellowtail', cursive;
}

#hamburger,  #ham-label {
	display: none;
}

.btn {
	margin: 5px;
	transition: all ease-out;
}

.btn:hover {
	transform: translateY(2px);
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#copyright {
	font-weight: bold;
	font-size: 15px;
}

@media screen and (max-width: 500px) /* Mobile */ {
	.main-content {
		width: 250px;
		height: 820px;
		box-shadow: 0 0 6px 14px rgba(255, 94, 1, 1);
		background: rgb(241, 225, 225, 0.6);
	}
	.skill-section {
		width: 80%;
		height: 700px;
	}
	.outer-ring {
		width: 260px;
		height: 850px;
		background: none;
		box-shadow: 0 0 3px 17px rgb(104, 104, 253);
	}

	#name {
		font-size: 25px;
	}
	#position {
		font-size: 15px;
	}
	#ham-label {
		display: block;
		cursor: pointer;
		font-size: 2em;
		background-image: url(../assets/images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
		background-position: 700px;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text !important;
		background-clip: text;
		margin-right: 20px;
	}

	.navigation {
		display: none;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 75px;
	}

	#hamburger:checked ~ .navigation { display: block; z-index: 1; position: relative; top: 145px; left: 70px; margin: 0;}

	li a button {
		border-radius: 0;
		margin: 0;
		opacity: 0.9;
		position: relative;
		bottom: 10px;
	}

	li a {
		margin: 0;
	}

	li {
		margin: 0;
	}

	.links {
		display: none;
	}
	.eclipse {
		width: 270px;
		height: 880px;
		box-shadow: 0 0 10px 21px rgb(255, 251, 0);
	}
	.outer-eclipse {
		width: 280px;
		height: 910px;
		margin-bottom: 30px;
		box-shadow: 0 0 18px 19px rgba(255, 94, 1, 1);
	}
	.title {
		margin: 0;
		width: 190px;
	}
	.bio {
		margin-top: 150px;
	}
	.img-container {
		margin-top: 0px;
		border-top-left-radius: 400px;
		-webkit-box-shadow: 0 20px 25px 3px rgb(116, 116, 250);
		-moz-box-shadow: 0 20px 25px 3px rgb(116, 116, 250);
		box-shadow: 0 20px 25px 3px rgb(116, 116, 250);
		height: 150px;
		width: 170px;
	}
	img {
		border-top-left-radius: 400px;
	}
	.about-me {
		margin-top: 25px;
	}
}
